/*Home -------------------------------------------------------------------------------*/
.main {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    gap: 5rem;
    padding-top: 2rem;

    .descripcion {
        position: relative;

        .mascota {
            position: absolute;
            width: 30px;
            height: 30px;
            top: -5%;
            left: 5%;
            opacity: 0;
            animation: fade-in 2s ease forwards;
            animation-delay: 0.1s;
            transform-origin: center;

            .ojo-izquierdo,
            .ojo-derecho {
                position: absolute;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: $gris-oscuro;
                top: 18px;
            }

            .ojo-izquierdo {
                left: 7px;
            }

            .ojo-derecho {
                right: 7px;
            }
        }

        h1 {
            font-size: 6em;
            color: $violeta;
            opacity: 0;
            animation: fade-in 1s ease forwards;
            animation-delay: 0.2s;
        }

        h2 {
            font-size: 4em;
            font-weight: 400;
            color: $blanco-claro;
            opacity: 0;
            animation: fade-in 1s ease forwards;
            animation-delay: 0.3s;
        }

        h3 {
            font-size: 2.5em;
            font-weight: 400;
            color: $blanco-claro;
            opacity: 0;
            animation: fade-in 1s ease forwards;
            animation-delay: 0.4s;
        }

        .botones {
            display: flex;
            gap: 2rem;
            padding-top: 2rem;
            opacity: 0;
            animation: fade-in 1s ease forwards;
            animation-delay: 0.5s;

            .contacto {
                width: 13rem;
                height: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                position: relative;
                border: none;
                transition: .4s ease-in-out;
                font-size: 1.8em;

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: $violeta;
                    z-index: -1;
                    transition: .4s ease-in-out;
                }

                &:hover {
                    top: -5px;
                    left: -5px;
                }

                &:hover::before {
                    top: 5px;
                    left: 5px;
                }
            }


            .cv {
                position: relative;
                display: block;
                width: 13rem;
                height: 5rem;
                background-color: transparent;
                color: $blanco-claro;
                font-size: 1.8em;
                overflow: hidden;
                transition: all 500ms ease;
                border: 2px solid $violeta;
                z-index: 0;
                cursor: pointer;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    margin: auto;
                    background-color: $violeta;
                    transition: all 500ms ease;
                    z-index: -1;
                }

                &::before {
                    width: 0;
                    height: 100%;
                }

                &:hover {
                    color: $gris-oscuro;

                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }

    .code {
        img {
            width: 50rem;
            height: 50rem;
        }

        opacity: 0;
        animation: fade-in 2s ease forwards;
        animation-delay: 0.6s;
    }

    .degrade {
        position: absolute;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        filter: blur(70px);
        -webkit-filter: blur(70px);
    }

    .deg1 {
        background-color: $violeta;
        top: 50%;
        right: 40%;
    }

    .deg2 {
        background-color: $verde;
        top: 30%;
        right: 10%;
    }
}

.flecha {
    color: $blanco-claro;
    position: absolute;
    font-size: 2em;
    right: 5%;
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    transition: 0.1s ease-in-out;
    z-index: 2;

    &::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background-color: $blanco-claro;
        transition: width 0.5s ease-in-out;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &:hover::after {
        width: 100%;
        background-color: $violeta;
    }

    i {
        transition: 0.5s ease-in-out;
    }

    &:hover {
        color: $violeta;
    }

    &:hover i {
        transform: translateX(3px);
    }
}

/*Keyframes*/
/*Texto*/
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Mascota*/
@keyframes avanzar {

    0%,
    100% {
        left: 5%;
        transform: rotate(-360deg);
    }

    50% {
        left: 50%;
        transform: rotate(360deg);
    }
}

@keyframes mover-ojos {
    0% {
        transform: translateY(0);
    }

    33% {
        transform: translateX(3px);
    }

    66% {
        transform: translateX(-3px)
    }

    100% {
        transform: translateY(0);
    }
}

/*Mediaquerys*/

/*Pantalla grande - mediana*/
@media screen and (max-width:1030px) {

    .main {
        display: flex;
        position: relative;
        min-height: 70vh;

        .code {
            display: none;
        }

        .deg1 {
            top: 80%;
            left: 20%;
        }

        .deg2 {
            top: 30%;
            right: 10%;
        }
    }

}

/*Pantalla chica*/
@media screen and (max-width:670px) {


    .main {
        display: flex;
        position: relative;
        min-height: 70vh;

        .code {
            display: none;
        }

        .deg1 {
            top: 80%;
            left: 20%;
        }

        .deg2 {
            top: 30%;
            right: 10%;
        }

    }

    .flecha {
        z-index: 1;
    }

}