@charset "UTF-8";
/*VARIABLES*/
/*Varibables -------------------------------------------------------------------------------*/
/*Colores*/
/*NORMALIZAR*/
/*Normalizar -------------------------------------------------------------------------------*/
/*Importar*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*Reiniciar*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*Globales*/
html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth; }

body {
  overflow-x: hidden;
  background-color: #151515; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style-type: none;
  padding-left: 0; }

/*PARTES*/
/*Cabecera -------------------------------------------------------------------------------*/
.header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: relative;
  /*Logo*/
  /*Modo claro/oscuro*/
  /*Navbar*/ }
  .header .logo {
    cursor: pointer; }
    .header .logo img {
      width: 5rem;
      height: 5rem; }
  .header .mode {
    cursor: pointer; }
    .header .mode .circle {
      width: 45px;
      height: 45px;
      background-color: #ededed;
      border-radius: 50%;
      position: relative; }
      .header .mode .circle .icons {
        position: absolute;
        font-size: 2.5em;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .header .mode .circle .icons .uil-moon {
          display: none; }
  .header .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*Links*/ }
    .header .nav .links {
      font-size: 1.8em;
      position: relative;
      color: #ededed;
      transition: 0.3s ease-in-out; }
      .header .nav .links::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: transparent;
        z-index: -1;
        transition: width 0.4s ease-in-out; }
      .header .nav .links:hover::before {
        width: 100%;
        background-color: #cd94ff; }
      .header .nav .links:hover {
        color: #151515; }

/*Footer -------------------------------------------------------------------------------*/
.footer {
  width: 100%;
  padding: 5rem 0 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ededed; }
  .footer .copy {
    font-size: 1.5em;
    display: flex;
    gap: 2rem; }

/*PÁGINAS*/
/*Home -------------------------------------------------------------------------------*/
.main {
  max-width: 180rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  gap: 5rem;
  padding-top: 2rem; }
  .main .descripcion {
    position: relative; }
    .main .descripcion .mascota {
      position: absolute;
      width: 30px;
      height: 30px;
      top: -5%;
      left: 5%;
      opacity: 0;
      animation: fade-in 2s ease forwards;
      animation-delay: 0.1s;
      transform-origin: center; }
      .main .descripcion .mascota .ojo-izquierdo,
      .main .descripcion .mascota .ojo-derecho {
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #151515;
        top: 18px; }
      .main .descripcion .mascota .ojo-izquierdo {
        left: 7px; }
      .main .descripcion .mascota .ojo-derecho {
        right: 7px; }
    .main .descripcion h1 {
      font-size: 6em;
      color: #cd94ff;
      opacity: 0;
      animation: fade-in 1s ease forwards;
      animation-delay: 0.2s; }
    .main .descripcion h2 {
      font-size: 4em;
      font-weight: 400;
      color: #ededed;
      opacity: 0;
      animation: fade-in 1s ease forwards;
      animation-delay: 0.3s; }
    .main .descripcion h3 {
      font-size: 2.5em;
      font-weight: 400;
      color: #ededed;
      opacity: 0;
      animation: fade-in 1s ease forwards;
      animation-delay: 0.4s; }
    .main .descripcion .botones {
      display: flex;
      gap: 2rem;
      padding-top: 2rem;
      opacity: 0;
      animation: fade-in 1s ease forwards;
      animation-delay: 0.5s; }
      .main .descripcion .botones .contacto {
        width: 13rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        border: none;
        transition: .4s ease-in-out;
        font-size: 1.8em; }
        .main .descripcion .botones .contacto::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: #cd94ff;
          z-index: -1;
          transition: .4s ease-in-out; }
        .main .descripcion .botones .contacto:hover {
          top: -5px;
          left: -5px; }
        .main .descripcion .botones .contacto:hover::before {
          top: 5px;
          left: 5px; }
      .main .descripcion .botones .cv {
        position: relative;
        display: block;
        width: 13rem;
        height: 5rem;
        background-color: transparent;
        color: #ededed;
        font-size: 1.8em;
        overflow: hidden;
        transition: all 500ms ease;
        border: 2px solid #cd94ff;
        z-index: 0;
        cursor: pointer; }
        .main .descripcion .botones .cv::before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          margin: auto;
          background-color: #cd94ff;
          transition: all 500ms ease;
          z-index: -1; }
        .main .descripcion .botones .cv::before {
          width: 0;
          height: 100%; }
        .main .descripcion .botones .cv:hover {
          color: #151515; }
          .main .descripcion .botones .cv:hover::before {
            width: 100%; }
  .main .code {
    opacity: 0;
    animation: fade-in 2s ease forwards;
    animation-delay: 0.6s; }
    .main .code img {
      width: 50rem;
      height: 50rem; }
  .main .degrade {
    position: absolute;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    filter: blur(70px);
    -webkit-filter: blur(70px); }
  .main .deg1 {
    background-color: #cd94ff;
    top: 50%;
    right: 40%; }
  .main .deg2 {
    background-color: #daff3e;
    top: 30%;
    right: 10%; }

.flecha {
  color: #ededed;
  position: absolute;
  font-size: 2em;
  top: 80%;
  right: 5%;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  transition: 0.1s ease-in-out; }
  .flecha::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: #ededed;
    transition: width 0.5s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0; }
  .flecha:hover::after {
    width: 100%;
    background-color: #cd94ff; }
  .flecha i {
    transition: 0.5s ease-in-out; }
  .flecha:hover {
    color: #cd94ff; }
  .flecha:hover i {
    transform: translateX(3px); }

/*Keyframes*/
/*Texto*/
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/*Mascota*/
@keyframes avanzar {
  0%,
  100% {
    left: 5%;
    transform: rotate(-360deg); }
  50% {
    left: 50%;
    transform: rotate(360deg); } }

@keyframes mover-ojos {
  0% {
    transform: translateY(0); }
  33% {
    transform: translateX(3px); }
  66% {
    transform: translateX(-3px); }
  100% {
    transform: translateY(0); } }

/*Sobre mi -------------------------------------------------------------------------------*/
.body-sobre-mi {
  background-image: url("../../assets/image/fondo.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }
  .body-sobre-mi .seccion-info {
    max-width: 180rem;
    margin: 0 auto;
    padding: 2.5rem 0;
    display: flex;
    justify-content: center;
    gap: 10rem;
    align-items: center; }
    .body-sobre-mi .seccion-info .container-sobre-mi {
      display: flex;
      gap: 15rem; }
      .body-sobre-mi .seccion-info .container-sobre-mi .foto {
        padding-top: 2rem;
        position: relative; }
        .body-sobre-mi .seccion-info .container-sobre-mi .foto .fotografia {
          width: 30rem;
          opacity: 0;
          animation: fade-in 1s ease forwards;
          animation-delay: 0.5s; }
        .body-sobre-mi .seccion-info .container-sobre-mi .foto .gato {
          position: absolute;
          width: 10rem;
          height: 13rem;
          z-index: -1;
          transform: rotate(-45deg);
          top: 20%;
          left: 2%;
          animation: asomar 1s ease forwards;
          animation-delay: 3s;
          opacity: 0; }
        .body-sobre-mi .seccion-info .container-sobre-mi .foto::before {
          content: '';
          position: absolute;
          width: 30rem;
          height: 50rem;
          background-color: #cd94ff;
          top: 1%;
          left: -8%;
          z-index: -1;
          opacity: 0;
          animation: fade-in 1s ease forwards;
          animation-delay: 0.3s; }
      .body-sobre-mi .seccion-info .container-sobre-mi .info {
        display: flex;
        flex-direction: column;
        color: #ededed;
        gap: 3rem; }
        .body-sobre-mi .seccion-info .container-sobre-mi .info h3 {
          color: #daff3e;
          font-size: 1.8em;
          padding-bottom: 1rem; }
        .body-sobre-mi .seccion-info .container-sobre-mi .info p {
          font-size: 1.6em; }
        .body-sobre-mi .seccion-info .container-sobre-mi .info .container-datos {
          display: flex;
          flex-direction: row;
          gap: 6rem; }
          .body-sobre-mi .seccion-info .container-sobre-mi .info .container-datos .datos-personales-1 {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            opacity: 0;
            animation: fade-in 1s ease forwards;
            animation-delay: 0.7s; }
          .body-sobre-mi .seccion-info .container-sobre-mi .info .container-datos .datos-personales-2 {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            opacity: 0;
            animation: fade-in 1s ease forwards;
            animation-delay: 0.9s; }
        .body-sobre-mi .seccion-info .container-sobre-mi .info .info-personal {
          opacity: 0;
          animation: fade-in 1s ease forwards;
          animation-delay: 1s; }
          .body-sobre-mi .seccion-info .container-sobre-mi .info .info-personal p {
            width: 50rem; }
        .body-sobre-mi .seccion-info .container-sobre-mi .info #herramientas {
          background-color: transparent;
          border: 1px solid #ededed;
          border-radius: 4px;
          width: 100%;
          height: 30rem;
          position: relative; }
          .body-sobre-mi .seccion-info .container-sobre-mi .info #herramientas h3 {
            padding: 1rem 0 0 1rem; }
        .body-sobre-mi .seccion-info .container-sobre-mi .info .elemento {
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.38); }
        .body-sobre-mi .seccion-info .container-sobre-mi .info .elemento1 {
          width: 10rem;
          height: 4rem;
          border-radius: 8px;
          background-image: url("../../assets/image/animejs.png");
          background-size: cover;
          background-position: center;
          position: absolute;
          top: 15%;
          left: 2%;
          transition: transform 0.2s ease-out; }
        .body-sobre-mi .seccion-info .container-sobre-mi .info .elemento2 {
          width: 10rem;
          height: 4rem;
          border-radius: 8px;
          background-image: url("../../assets/image/bootstrap.png");
          background-size: cover;
          background-position: center;
          position: absolute;
          top: 15%;
          left: 28%;
          transition: transform 0.2s ease-out; }
        .body-sobre-mi .seccion-info .container-sobre-mi .info .elemento3 {
          width: 10rem;
          height: 4rem;
          border-radius: 8px;
          background-image: url("../../assets/image/css.png");
          background-size: cover;
          background-position: center;
          position: absolute;
          top: 15%;
          left: 54%;
          transition: transform 0.2s ease-out; }
        .body-sobre-mi .seccion-info .container-sobre-mi .info .elemento4 {
          width: 10rem;
          height: 4rem;
          border-radius: 8px;
          background-image: url("../../assets/image/figma.png");
          background-size: cover;
          background-position: center;
          position: absolute;
          top: 30%;
          left: 2%;
          transition: transform 0.2s ease-out; }
        .body-sobre-mi .seccion-info .container-sobre-mi .info .elemento5 {
          width: 10rem;
          height: 4rem;
          border-radius: 8px;
          background-image: url("../../assets/image/git.png");
          background-size: cover;
          background-position: center;
          position: absolute;
          top: 30%;
          left: 28%;
          transition: transform 0.2s ease-out; }
        .body-sobre-mi .seccion-info .container-sobre-mi .info .elemento6 {
          width: 10rem;
          height: 4rem;
          border-radius: 8px;
          background-image: url("../../assets/image/github.png");
          background-size: cover;
          background-position: center;
          position: absolute;
          top: 30%;
          left: 54%;
          transition: transform 0.2s ease-out; }
        .body-sobre-mi .seccion-info .container-sobre-mi .info .elemento7 {
          width: 10rem;
          height: 4rem;
          border-radius: 8px;
          background-image: url("../../assets/image/html.png");
          background-size: cover;
          background-position: center;
          position: absolute;
          top: 45%;
          left: 2%;
          transition: transform 0.2s ease-out; }
        .body-sobre-mi .seccion-info .container-sobre-mi .info .elemento8 {
          width: 10rem;
          height: 4rem;
          border-radius: 8px;
          background-image: url("../../assets/image/illustrator.png");
          background-size: cover;
          background-position: center;
          position: absolute;
          top: 45%;
          left: 28%;
          transition: transform 0.2s ease-out; }
        .body-sobre-mi .seccion-info .container-sobre-mi .info .elemento9 {
          width: 10rem;
          height: 4rem;
          border-radius: 8px;
          background-image: url("../../assets/image/js.png");
          background-size: cover;
          background-position: center;
          position: absolute;
          top: 45%;
          left: 54%;
          transition: transform 0.2s ease-out; }
        .body-sobre-mi .seccion-info .container-sobre-mi .info .elemento10 {
          width: 10rem;
          height: 4rem;
          border-radius: 8px;
          background-image: url("../../assets/image/photoshop.png");
          background-size: cover;
          background-position: center;
          position: absolute;
          top: 60%;
          left: 2%;
          transition: transform 0.2s ease-out; }
        .body-sobre-mi .seccion-info .container-sobre-mi .info .elemento11 {
          width: 10rem;
          height: 4rem;
          border-radius: 8px;
          background-image: url("../../assets/image/react.png");
          background-size: cover;
          background-position: center;
          position: absolute;
          top: 60%;
          left: 28%;
          transition: transform 0.2s ease-out; }
        .body-sobre-mi .seccion-info .container-sobre-mi .info .elemento12 {
          width: 10rem;
          height: 4rem;
          border-radius: 8px;
          background-image: url("../../assets/image/sass.png");
          background-size: cover;
          background-position: center;
          position: absolute;
          top: 60%;
          left: 54%;
          transition: transform 0.2s ease-out; }
        .body-sobre-mi .seccion-info .container-sobre-mi .info .elemento13 {
          width: 10rem;
          height: 4rem;
          border-radius: 8px;
          background-image: url("../../assets/image/spline.png");
          background-size: cover;
          background-position: center;
          position: absolute;
          top: 75%;
          left: 2%;
          transition: transform 0.2s ease-out; }

.flecha-vuelta {
  color: #ededed;
  position: absolute;
  font-size: 2em;
  top: 80%;
  left: 5%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  transition: 0.1s ease-in-out; }
  .flecha-vuelta::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: #ededed;
    transition: width 0.5s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0; }
  .flecha-vuelta:hover::after {
    width: 100%;
    background-color: #cd94ff; }
  .flecha-vuelta i {
    transition: 0.5s ease-in-out; }
  .flecha-vuelta:hover {
    color: #cd94ff; }
  .flecha-vuelta:hover i {
    transform: translateX(-3px); }

/*Gato asomandose*/
@keyframes asomar {
  0% {
    transform: rotate(-45deg);
    top: 20%;
    left: 2%;
    opacity: 0; }
  100% {
    transform: rotate(-45deg);
    top: 20%;
    left: -20%;
    opacity: 1; } }

.body-servicios .servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 0 0;
  position: relative;
  width: 100%; }
  .body-servicios .servicios .tarjetas {
    max-width: 120rem;
    height: 50rem;
    padding-bottom: 7rem;
    display: flex;
    justify-content: space-between; }
    .body-servicios .servicios .tarjetas .tarjeta1 {
      opacity: 0;
      animation: fade-in 1s ease forwards;
      animation-delay: 0.5s; }
    .body-servicios .servicios .tarjetas .tarjeta2 {
      opacity: 0;
      animation: fade-in 1s ease forwards;
      animation-delay: 0.6s; }
    .body-servicios .servicios .tarjetas .tarjeta3 {
      opacity: 0;
      animation: fade-in 1s ease forwards;
      animation-delay: 0.7s; }
    .body-servicios .servicios .tarjetas .tarjeta6 {
      margin-right: 0; }
    .body-servicios .servicios .tarjetas .tarjeta1,
    .body-servicios .servicios .tarjetas .tarjeta2,
    .body-servicios .servicios .tarjetas .tarjeta3,
    .body-servicios .servicios .tarjetas .tarjeta4,
    .body-servicios .servicios .tarjetas .tarjeta5,
    .body-servicios .servicios .tarjetas .tarjeta6 {
      margin-right: 2rem;
      flex: 0 0 calc(33.33% - 2rem);
      position: relative; }
      .body-servicios .servicios .tarjetas .tarjeta1 .tarjeta,
      .body-servicios .servicios .tarjetas .tarjeta2 .tarjeta,
      .body-servicios .servicios .tarjetas .tarjeta3 .tarjeta,
      .body-servicios .servicios .tarjetas .tarjeta4 .tarjeta,
      .body-servicios .servicios .tarjetas .tarjeta5 .tarjeta,
      .body-servicios .servicios .tarjetas .tarjeta6 .tarjeta {
        width: 100%;
        height: 40rem;
        background-color: #151515;
        border: 1px solid #ededed;
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        position: relative; }
        .body-servicios .servicios .tarjetas .tarjeta1 .tarjeta h3,
        .body-servicios .servicios .tarjetas .tarjeta2 .tarjeta h3,
        .body-servicios .servicios .tarjetas .tarjeta3 .tarjeta h3,
        .body-servicios .servicios .tarjetas .tarjeta4 .tarjeta h3,
        .body-servicios .servicios .tarjetas .tarjeta5 .tarjeta h3,
        .body-servicios .servicios .tarjetas .tarjeta6 .tarjeta h3 {
          font-size: 1.8em;
          color: #cd94ff; }
        .body-servicios .servicios .tarjetas .tarjeta1 .tarjeta p,
        .body-servicios .servicios .tarjetas .tarjeta2 .tarjeta p,
        .body-servicios .servicios .tarjetas .tarjeta3 .tarjeta p,
        .body-servicios .servicios .tarjetas .tarjeta4 .tarjeta p,
        .body-servicios .servicios .tarjetas .tarjeta5 .tarjeta p,
        .body-servicios .servicios .tarjetas .tarjeta6 .tarjeta p {
          font-size: 1.6em;
          color: #ededed; }
        .body-servicios .servicios .tarjetas .tarjeta1 .tarjeta img,
        .body-servicios .servicios .tarjetas .tarjeta2 .tarjeta img,
        .body-servicios .servicios .tarjetas .tarjeta3 .tarjeta img,
        .body-servicios .servicios .tarjetas .tarjeta4 .tarjeta img,
        .body-servicios .servicios .tarjetas .tarjeta5 .tarjeta img,
        .body-servicios .servicios .tarjetas .tarjeta6 .tarjeta img {
          width: 100%;
          height: 30vh;
          object-fit: cover; }
        .body-servicios .servicios .tarjetas .tarjeta1 .tarjeta .tarjeta-bottom,
        .body-servicios .servicios .tarjetas .tarjeta2 .tarjeta .tarjeta-bottom,
        .body-servicios .servicios .tarjetas .tarjeta3 .tarjeta .tarjeta-bottom,
        .body-servicios .servicios .tarjetas .tarjeta4 .tarjeta .tarjeta-bottom,
        .body-servicios .servicios .tarjetas .tarjeta5 .tarjeta .tarjeta-bottom,
        .body-servicios .servicios .tarjetas .tarjeta6 .tarjeta .tarjeta-bottom {
          display: flex;
          gap: 1rem;
          flex-direction: column;
          padding: 1rem; }
          .body-servicios .servicios .tarjetas .tarjeta1 .tarjeta .tarjeta-bottom .botones-tarjeta,
          .body-servicios .servicios .tarjetas .tarjeta2 .tarjeta .tarjeta-bottom .botones-tarjeta,
          .body-servicios .servicios .tarjetas .tarjeta3 .tarjeta .tarjeta-bottom .botones-tarjeta,
          .body-servicios .servicios .tarjetas .tarjeta4 .tarjeta .tarjeta-bottom .botones-tarjeta,
          .body-servicios .servicios .tarjetas .tarjeta5 .tarjeta .tarjeta-bottom .botones-tarjeta,
          .body-servicios .servicios .tarjetas .tarjeta6 .tarjeta .tarjeta-bottom .botones-tarjeta {
            display: flex;
            position: absolute;
            gap: 1rem;
            font-size: 1.6em;
            padding: 1rem;
            bottom: 2%;
            right: 2%;
            color: #ededed; }
            .body-servicios .servicios .tarjetas .tarjeta1 .tarjeta .tarjeta-bottom .botones-tarjeta a,
            .body-servicios .servicios .tarjetas .tarjeta2 .tarjeta .tarjeta-bottom .botones-tarjeta a,
            .body-servicios .servicios .tarjetas .tarjeta3 .tarjeta .tarjeta-bottom .botones-tarjeta a,
            .body-servicios .servicios .tarjetas .tarjeta4 .tarjeta .tarjeta-bottom .botones-tarjeta a,
            .body-servicios .servicios .tarjetas .tarjeta5 .tarjeta .tarjeta-bottom .botones-tarjeta a,
            .body-servicios .servicios .tarjetas .tarjeta6 .tarjeta .tarjeta-bottom .botones-tarjeta a {
              padding: 0.5rem;
              border: 1px solid #ededed; }
        .body-servicios .servicios .tarjetas .tarjeta1 .tarjeta:hover,
        .body-servicios .servicios .tarjetas .tarjeta2 .tarjeta:hover,
        .body-servicios .servicios .tarjetas .tarjeta3 .tarjeta:hover,
        .body-servicios .servicios .tarjetas .tarjeta4 .tarjeta:hover,
        .body-servicios .servicios .tarjetas .tarjeta5 .tarjeta:hover,
        .body-servicios .servicios .tarjetas .tarjeta6 .tarjeta:hover {
          background-color: #cd94ff; }
          .body-servicios .servicios .tarjetas .tarjeta1 .tarjeta:hover h3,
          .body-servicios .servicios .tarjetas .tarjeta1 .tarjeta:hover p,
          .body-servicios .servicios .tarjetas .tarjeta1 .tarjeta:hover .botones-tarjeta,
          .body-servicios .servicios .tarjetas .tarjeta2 .tarjeta:hover h3,
          .body-servicios .servicios .tarjetas .tarjeta2 .tarjeta:hover p,
          .body-servicios .servicios .tarjetas .tarjeta2 .tarjeta:hover .botones-tarjeta,
          .body-servicios .servicios .tarjetas .tarjeta3 .tarjeta:hover h3,
          .body-servicios .servicios .tarjetas .tarjeta3 .tarjeta:hover p,
          .body-servicios .servicios .tarjetas .tarjeta3 .tarjeta:hover .botones-tarjeta,
          .body-servicios .servicios .tarjetas .tarjeta4 .tarjeta:hover h3,
          .body-servicios .servicios .tarjetas .tarjeta4 .tarjeta:hover p,
          .body-servicios .servicios .tarjetas .tarjeta4 .tarjeta:hover .botones-tarjeta,
          .body-servicios .servicios .tarjetas .tarjeta5 .tarjeta:hover h3,
          .body-servicios .servicios .tarjetas .tarjeta5 .tarjeta:hover p,
          .body-servicios .servicios .tarjetas .tarjeta5 .tarjeta:hover .botones-tarjeta,
          .body-servicios .servicios .tarjetas .tarjeta6 .tarjeta:hover h3,
          .body-servicios .servicios .tarjetas .tarjeta6 .tarjeta:hover p,
          .body-servicios .servicios .tarjetas .tarjeta6 .tarjeta:hover .botones-tarjeta {
            color: #151515; }
            .body-servicios .servicios .tarjetas .tarjeta1 .tarjeta:hover h3 a,
            .body-servicios .servicios .tarjetas .tarjeta1 .tarjeta:hover p a,
            .body-servicios .servicios .tarjetas .tarjeta1 .tarjeta:hover .botones-tarjeta a,
            .body-servicios .servicios .tarjetas .tarjeta2 .tarjeta:hover h3 a,
            .body-servicios .servicios .tarjetas .tarjeta2 .tarjeta:hover p a,
            .body-servicios .servicios .tarjetas .tarjeta2 .tarjeta:hover .botones-tarjeta a,
            .body-servicios .servicios .tarjetas .tarjeta3 .tarjeta:hover h3 a,
            .body-servicios .servicios .tarjetas .tarjeta3 .tarjeta:hover p a,
            .body-servicios .servicios .tarjetas .tarjeta3 .tarjeta:hover .botones-tarjeta a,
            .body-servicios .servicios .tarjetas .tarjeta4 .tarjeta:hover h3 a,
            .body-servicios .servicios .tarjetas .tarjeta4 .tarjeta:hover p a,
            .body-servicios .servicios .tarjetas .tarjeta4 .tarjeta:hover .botones-tarjeta a,
            .body-servicios .servicios .tarjetas .tarjeta5 .tarjeta:hover h3 a,
            .body-servicios .servicios .tarjetas .tarjeta5 .tarjeta:hover p a,
            .body-servicios .servicios .tarjetas .tarjeta5 .tarjeta:hover .botones-tarjeta a,
            .body-servicios .servicios .tarjetas .tarjeta6 .tarjeta:hover h3 a,
            .body-servicios .servicios .tarjetas .tarjeta6 .tarjeta:hover p a,
            .body-servicios .servicios .tarjetas .tarjeta6 .tarjeta:hover .botones-tarjeta a {
              border: 1px solid #151515;
              transition: 0.3s ease-in-out; }
              .body-servicios .servicios .tarjetas .tarjeta1 .tarjeta:hover h3 a:hover,
              .body-servicios .servicios .tarjetas .tarjeta1 .tarjeta:hover p a:hover,
              .body-servicios .servicios .tarjetas .tarjeta1 .tarjeta:hover .botones-tarjeta a:hover,
              .body-servicios .servicios .tarjetas .tarjeta2 .tarjeta:hover h3 a:hover,
              .body-servicios .servicios .tarjetas .tarjeta2 .tarjeta:hover p a:hover,
              .body-servicios .servicios .tarjetas .tarjeta2 .tarjeta:hover .botones-tarjeta a:hover,
              .body-servicios .servicios .tarjetas .tarjeta3 .tarjeta:hover h3 a:hover,
              .body-servicios .servicios .tarjetas .tarjeta3 .tarjeta:hover p a:hover,
              .body-servicios .servicios .tarjetas .tarjeta3 .tarjeta:hover .botones-tarjeta a:hover,
              .body-servicios .servicios .tarjetas .tarjeta4 .tarjeta:hover h3 a:hover,
              .body-servicios .servicios .tarjetas .tarjeta4 .tarjeta:hover p a:hover,
              .body-servicios .servicios .tarjetas .tarjeta4 .tarjeta:hover .botones-tarjeta a:hover,
              .body-servicios .servicios .tarjetas .tarjeta5 .tarjeta:hover h3 a:hover,
              .body-servicios .servicios .tarjetas .tarjeta5 .tarjeta:hover p a:hover,
              .body-servicios .servicios .tarjetas .tarjeta5 .tarjeta:hover .botones-tarjeta a:hover,
              .body-servicios .servicios .tarjetas .tarjeta6 .tarjeta:hover h3 a:hover,
              .body-servicios .servicios .tarjetas .tarjeta6 .tarjeta:hover p a:hover,
              .body-servicios .servicios .tarjetas .tarjeta6 .tarjeta:hover .botones-tarjeta a:hover {
                background-color: #151515;
                color: #ededed; }
    .body-servicios .servicios .tarjetas .slick-arrow {
      width: 30px;
      height: 30px;
      font-size: 1px;
      color: transparent;
      position: absolute;
      border: 1px solid #ededed;
      top: -56px;
      right: 2%;
      cursor: pointer; }
    .body-servicios .servicios .tarjetas .slick-prev {
      right: 5%;
      background: url("../../../assets/image/angle-left.svg");
      background-size: 100%; }
    .body-servicios .servicios .tarjetas .slick-next {
      background: url("../../../assets/image/angle-right.svg");
      background-size: 100%; }
  .body-servicios .servicios .mascota2 {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10%;
    left: 11%;
    opacity: 0;
    animation: mascota-up 2s ease-in-out forwards;
    animation-delay: 2s;
    cursor: pointer; }
    .body-servicios .servicios .mascota2 .ojo-izquierdo,
    .body-servicios .servicios .mascota2 .ojo-derecho {
      position: absolute;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #151515;
      top: 18px; }
    .body-servicios .servicios .mascota2 .ojo-izquierdo {
      left: 7px; }
    .body-servicios .servicios .mascota2 .ojo-derecho {
      right: 7px; }

@keyframes mascota-up {
  0% {
    top: 10%;
    opacity: 0; }
  50% {
    top: 5%;
    opacity: 1; }
  100% {
    top: 2%;
    opacity: 1; } }

@keyframes mover-ojos-abajo {
  0% {
    transform: translateY(0); }
  33% {
    transform: translatey(4px); }
  100% {
    transform: translateY(0); } }
