@charset "UTF-8";
/*VARIABLES*/
/*Variables*/
/*NORMALIZAR*/
/*Normalizar -------------------------------------------------------------------------------*/
/*Importar*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*Reiniciar*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*Globales*/
html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth; }

body {
  overflow: hidden; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style-type: none;
  padding-left: 0; }

/*PARTES*/
/*botón mode*/
.header {
  border: solid 1px black;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: relative; }
  .header .mode {
    cursor: pointer; }
    .header .mode .circle {
      width: 45px;
      height: 45px;
      background-color: aqua;
      border-radius: 50%;
      position: relative; }
      .header .mode .circle .icons {
        position: absolute;
        font-size: 2.5em;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .header .mode .circle .icons .uil-moon {
          display: none; }
  .header .nav {
    display: flex;
    flex-direction: row;
    gap: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header .nav .links {
      font-size: 1.8em; }
      .header .nav .links:hover {
        animation: up-animation 0.5s ease  forwards; }

@keyframes up-animation {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-10px); } }

/*PÁGINAS*/
