@charset "UTF-8";
/*VARIABLES*/
/*Variables*/
/*NORMALIZAR*/
/*Normalizar -------------------------------------------------------------------------------*/
/*Importar*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*Reiniciar*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*Globales*/
html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth; }

body {
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style-type: none;
  padding-left: 0; }

/*PARTES*/
/*Cabecera -------------------------------------------------------------------------------*/
.header {
  border: solid 1px black;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: relative; }
  .header .mode {
    cursor: pointer; }
    .header .mode .circle {
      width: 45px;
      height: 45px;
      background-color: aqua;
      border-radius: 50%;
      position: relative; }
      .header .mode .circle .icons {
        position: absolute;
        font-size: 2.5em;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .header .mode .circle .icons .uil-moon {
          display: none; }
  .header .nav {
    display: flex;
    flex-direction: row;
    gap: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header .nav .links {
      font-size: 1.8em;
      position: relative; }
      .header .nav .links::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: transparent;
        z-index: -1;
        transition: width 0.4s ease-in-out; }
      .header .nav .links:hover::before {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.2); }

/*Footer -------------------------------------------------------------------------------*/
.footer {
  width: 100%;
  height: 10vh;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer .copy {
    font-size: 1.5em;
    display: flex;
    gap: 2rem; }

/*PÁGINAS*/
/*Home -------------------------------------------------------------------------------*/
.main {
  max-width: 150rem;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center; }
  .main .descripcion {
    padding: 0 2rem; }
    .main .descripcion h1 {
      font-size: 8em; }
    .main .descripcion h2 {
      font-size: 4em;
      font-weight: 400; }
    .main .descripcion h3 {
      font-size: 2.5em;
      font-weight: 400; }
    .main .descripcion .botones {
      display: flex;
      padding-top: 2rem;
      gap: 2rem;
      font-size: 1.8em; }
      .main .descripcion .botones .contacto {
        width: 13rem;
        height: 5rem;
        background-color: aqua;
        display: flex;
        justify-content: center;
        align-items: center; }
      .main .descripcion .botones .cv {
        width: 15rem;
        height: 5rem;
        background-color: aquamarine;
        display: flex;
        justify-content: center;
        align-items: center; }
