/*Varibables -------------------------------------------------------------------------------*/
/*Colores*/
$blanco: #fff;
$blanco-claro: #ededed;
$negro: #000;
$gris-oscuro: #151515;
$gris-semi-oscuro:#282828;
$gris-claro: #4f4f4f;
$verde: #daff3e;
$violeta: #cd94ff;
$violeta-claro: #eed2ff;
$sombra: 0 8px 32px 0 rgba(0, 0, 0, 0.38);