/*Cabecera -------------------------------------------------------------------------------*/
.header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    position: relative;

    /*Logo*/
    .logo{
        cursor: pointer;
        
        img{
            width: 5rem;
            height: 5rem;
        }
    }

    /*Modo claro/oscuro*/
    .mode {
        cursor: pointer;

        .circle {
            width: 45px;
            height: 45px;
            background-color: $blanco-claro;
            border-radius: 50%;
            position: relative;

            .icons {
                position: absolute;
                font-size: 2.5em;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                .uil-moon {
                    display: none;
                }
            }
        }
    }

    /*Navbar*/
    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        /*Links*/
        .links {
            font-size: 1.8em;
            position: relative;
            color: $blanco-claro;
            transition: 0.3s ease-in-out;
          
            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 0;
              height: 100%;
              background-color: transparent;
              z-index: -1;
              transition: width 0.4s ease-in-out;
            }
          
            &:hover::before {
              width: 100%;
              background-color: $violeta;
            }

            &:hover{
                color: $gris-oscuro;
            }
        }
    }
}